* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #bc96ca;
}

img {
  width: 8rem;
  height: 8rem;
}

.blank {
  display: none;
}

.message {
  font-family: "Borel", cursive;
  font-size: 2rem;
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.axolotl_pic {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
