* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #bc96ca;
}

img {
  width: 8rem;
  height: 8rem;
}

.blank {
  display: none;
}

.greeting_container {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.message {
  font-family: "Borel", cursive;
  font-size: 2rem;
  display: flex;
  width: 100vw;
  height: 10vh;
  align-items: center;
  justify-content: center;
  position: relative;
}
.greeting_images {
  display: flex;
  width: 20vw;
  height: 40vh;
  align-items: center;
  justify-content: center;
}
